/* projects.css */

/* General Styles */
.container {
  margin: 0 auto;
  max-width: 1200px;
}

.projects-section {
  padding: 24px;
}

/* Project Card Styles */
.project-card {
  background-color: #c3ffe3;
  border-radius: 20px;
  padding: 20px;
}

.project-card img{
  object-fit: cover;
  object-position: center;
  height: fit-content;
  width: fit-content;
  overflow: hidden;
  border-radius:inherit;

}

.project-card h2 {
  color: #3a8561;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 20px;
}

.project-card p {
  font-size: 1rem;
  line-height: 1.75;
  color: #4a4a4a;
}

.project-card .btn-primary {
  background-color: #4f46e5;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  text-align: center;
}

.project-card .btn-primary:hover {
  background-color: #3730a3;
}

