body {
    font-family: 'Inter', sans-serif;
    background-color: #FCF1F2;;
    color: #333;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header {
    background-color: #fff;
    box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.25);
}
.form-container {
    background: #fff;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
    margin: 40px auto;
    flex: 1;
}
h2 {
    font-weight: 900;
    color: #315EA9;
    font-size: 2rem;
    margin-bottom: 20px;
}
label {
    display: block;
    margin-top: 15px;
    font-weight: 600;
    color: #333;
}
.radio-group input[type="radio"] {
    margin-right: 8px; /* Add space between the radio button and the text */
}

.checkbox-group input[type="checkbox"] {
    margin-right: 8px; /* Add space between the radio button and the text */
}

input[type="text"], input[type="email"], textarea, select, input[type="range"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
input[type="submit"], button {
    background-color: #5CCF98;
    color: white;
    padding: 15px 20px;
    margin: 10px auto;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    display: block; /* Center align */
}

input[type="submit"]:hover, button:hover {
    background-color: #4CAF81;
}
.checkbox-group, .radio-group {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-left: 10px;
}
.checkbox-group label, .radio-group label {
    font-size: 14px;
    margin-top: 5px;
}
.box {
    padding-left: 20px;
    padding-right: 20px;
    padding-top:20px;
    padding-bottom:35px;
    border-radius: 10px;
    margin-bottom: 20px;
    color: white;
    font-weight: 600;
}
.box.blue {
    margin-top:10px;
    padding-bottom: 30px;
    background-color: #E2EDFF;
}
.box.green {
    background-color: #A5FFD4;
}
.box.orange {
    background-color: #FFE0C3;
}
.box.orange p {
    margin-left: 5px;
    color: #923b3b;
    font-size: 14px;
}
.box.orange textarea {
    margin-top: 15px;
    border-radius: 10px;
}
.box.blue p{
    color:#000000
}
.box.green p{
    color:#000000
}
.box.green p:last-of-type{
    padding-top: 20px;
}
.commitment {
    padding-left: 10px;
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.commitment label{
    font-size: 16px;
    margin-left: 10px;
}