footer {
    background-color: #f9e9b6;
    padding: 10vh 7vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
}

.footer-separator {
    height: 2px;
    background-color: #E0C3A2;
    width: 100%;
}

.footer-left {
    width: 50%;
    margin-left: 5vw;
}

.footer-left img {
    width: 50%;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.footer-left a {
    color: black;
}

.footer-right {
    margin-right: 5vw;
    width: 50%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.footer-right img {
    width: 30%;
    margin-top: 3vh;
    margin-bottom: 3vh;
    mix-blend-mode: darken;
}

.copyright {
    background-color: #f9e9f6;
    text-align: center;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
}