.homepage {
  background-color: white;
}

.homepage-image {
  background-color: #fcf1f2;
  border-radius: 46px 46px 0px 0px;
  margin: 0 7vw;
  margin-top: 6vh;
  display: flex;
  flex-direction: column;
}

.homepage-image img {
  width: 86%;
  margin: auto;
}
